$primary: #00043d;
$warning: #ffa200;
$gray1: #6e6e6e;
$gray2: #958e8e;
$gray3: #b5b5b5;
$gray4: #c1c1c1;
$gray5: #a4a4a4;
$gray6: #333;
$gray7: #fbfbfb;
$gray8: #d6d6d6;
$gray9: #8f8f8f;
$white: #fff;
$brown: #180000;
$black: #000;
$danger: #d91e00;
$reject: #ff0c0c;
$info: #275b97;
$transparent: transparent;

$font-7: 7px;
$font-9: 9px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-32: 32px;
$font-72: 72px;

$weight-bold: bold;
$weight-normal: normal;
$weight-300: 300;
$weight-500: 500;
$weight-600: 600;
$weight-800: 800;

$Inter-font: 'Inter', sans-serif;
$poppins-font: 'poppins', sans-serif;
$Karla-font: 'Karla', sans-serif;
$sansPro-font: 'Source Sans Pro', sans-serif;