@import "./variables";
@import "./mixins";


@media (max-width: 767px) {
    .header-wrapper-responsive {
        margin-top: 35px
    }

    .img-banner-Wrapper {
        background-image: linear-gradient($primary, rgba(128, 128, 128, 0)), url("../assets/images/mobile-banner-aimg.png");
        width: 100%;
        height: 696px;
        align-self: center;

    }

    .logo-name {
        @include custom-text-style($poppins-font, $font-18, $weight-bold, 1.5, left, $white);
        margin: 0 0 0.9px 8px;
        vertical-align: top;
    }

    .header-wrapper-responsive {
        .navbar-light .navbar-toggler {
            border-color: transparent
        }
    }

    .navbar {
        place-content: end;
    }

    .logo-ellipse-rec {
        @include custom-logo-ellipse(26.5px, 26.5px, 6px 7px 8px 8px, $primary);
        margin: 0 8px 0 25px;

        .logo-ellipse-first-cir {
            @include custom-logo-ellipse(13px, 14px, 3px 3px 3px 3px, $white);

            .logo-ellipse-second-cir {
                @include custom-logo-ellipse(8px, 8px, 3px 3px 3px 3px, $primary);
            }
        }
    }

    .toggle-btn {
        svg {
            width: 16px;
            height: 18px;
            margin-right: 30px;
            color: $white;
        }
    }

    .user-btn {
        svg {
            width: 16px;
            height: 18px;
            margin-right: 16px;
            color: $white;
        }
    }

    .banner-text {
        .banner-title {
            @include custom-text-style($Inter-font, $font-32, $weight-800, 1.22, center, $white);
            margin: 145px auto 60px auto;
            width: 353px;
        }

        .banner-subtitle {
            @include custom-text-style($poppins-font, $font-20, $weight-normal, 1.5, center, $white);
            width: 342px;
            display: block;
            margin: auto;
        }
    }


    .flight-info-wrapper {
        @include custom-box-style(360px, 400px, 0px auto 26.8px auto, 0, contain, 0 24px 100px 0 rgba(0, 0, 0, 0.1), transparent);
    }

    .request-info-wrapper {
        @include custom-box-style(318px, auto, auto, 0, contain, none, transparent);
    }

    .filter-wrapper {
        @include custom-box-style(360px, 128px, 0px auto 26.8px auto, 0, contain, 0 24px 100px 0 rgba(0, 0, 0, 0.1), transparent);
    }

    .tabs-component {
        width: 360px;
        margin-top: -100px;
    }

    .tabs-component [role="tablist"] button:first-child {
        width: 137px;
        height: 41px;
    }

    .tabs-component [role="tablist"] button:last-child {
        width: 209px;
        height: 41px;
    }


    .tabs-component [role="tablist"] button.active {
        @include custom-text-style($Inter-font, $font-14, $weight-600, 1.21, left, $primary);

        img {
            width: 18px;
            height: 18px;
        }
    }

    .tabs-component [role="tablist"] button {
        padding: 5px;
        @include custom-text-style($Inter-font, $font-14, $weight-normal, 1.21, left, $gray1);

        img {
            width: 18px;
            height: 18px
        }
    }

    .custom-input-flight-type {
        @include custom-input-styles(210px, 41px, 8px 0 0 0, 0 0 0 15px, 5px, #fbfbfb, $Inter-font, $font-14, 1.57, left, rgb(152, 152, 152), border, solid 1px $gray8)
    }

    .after-custom-input-flight-type {
        @include custom-input-styles(210px, 41px, 8px 0 0 0, 0 0 0 15px, 5px, #fbfbfb, $Inter-font, $font-14, 1.57, left, rgb(152, 152, 152), border, solid 1px $gray8)
    }

    .flight-type-title,
    .flight-number-title {
        @include custom-text-style($Inter-font, $font-12, $weight-600, 1.21, left, $primary);
    }

    .custom-select-flight-type>div {
        @include custom-select-styles(100px, 8px 0 0 0, 0, 5px,
            white, $Inter-font, $font-12, $weight-bold , 1.21, left, $primary, border, solid 1px $gray8);
    }

    .tabs-component [role="tabpanel"] {
        height: auto;
    }

    .departure-info-wrapper {
        margin-top: 10px;
    }


    .search-plane-icon {
        width: 27px;
        height: 27px;
    }

    .filter-responsive-btn {
        @include custom-btn-style(34px, 34px, 5px, 7px 9PX, 5px, $Inter-font, $font-14, $weight-600, 1.17, left, $white, border, 1px solid $primary );
        display: inline-block;
        float: right;
        margin-right: 7px;

        svg {
            width: 14px;
            height: 14px;
            text-align: left;
            font-size: 14px;
            color: #00043D;
            vertical-align: sub;
        }
    }

    .filter-info-wrapper {
        @include custom-box-style(360px, auto, 0px auto 26.8px auto, 0, contain, none, transparent);

    }

    .add-travel-btn {
        @include custom-btn-style(107px, 35px, 5px, 5px 0, 5px, $Inter-font, $font-12, $weight-600, 1.9, center, $white );
    }

    .requests-info-wrapper {
        @include custom-box-style(360px, auto, 0px auto 26.8px auto, 0, contain, none, transparent);

        h2 {
            @include custom-text-style($Inter-font, $font-14, $weight-600, 1.21, left, $gray6);
        }
    }

    .package-card-wrapper {
        width: 318px;
        height: 228px;
    }

    .more-detail-wrapper {
        width: 318px;

        .request-card-wrapper {
            @include custom-card-style(318px, 228px, 0, 0, 5px 0px 5px 5px, none, $primary);
        }
    }

    .card-cover-body {
        height: 174px;
        width: 318px;
        padding: 8px 16px 5px 16px;
    }

    .main-footer {
        @include custom-box-style(400px, 661px, 0, 0, contain, none, #f6f6f6);
    }

    .links-footer-wrapper {
        margin-left: 32.5px;
        margin-bottom: 60px;
    }

    .main-footer-copyright {
        @include custom-box-style(400px, 81px, 15px 0 0 32.5px, 0, contain, none, transparent);
    }

    .header-nav-wrapper {
        display: block;
        width: 50%;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 15px;
        top: 70px;
        border-radius: 5px;
        padding: 5px;

        .nav-item {
            display: block;
        }

        .nav-link {
            @include custom-btn-style(unset, unset, 0, 0, none,
                $poppins-font, $font-16, $weight-normal, 2.2, left, $white );
        }
    }

    .search-departure-info {
        margin-bottom: 0.4rem;
    }

    .search-departure-more-title {
        margin-bottom: 0.2rem;

        img {
            width: 9px;
            height: 11px;
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {}